/* HUD Button Styles */

/* Main Menu Buttons */
.hud-button-small {
    width: 30vw;
    border-radius: 0.2vw;
    font-size: 1.35vw;
    margin-top: 0.5vw;
    border-right: none;
    border-top: none;
    height: 6vw;
}

.hud-button-enter {
    width: 15vw;
    height: 4vw;
    margin: 0.8vw;
    padding: 0;
    border-radius: 10px;
    border: solid 2px darkgray;
    outline: none;
    transition: 0.2s all;
}

.hud-button-return {
    position: absolute;
    width: 8vh;
    height: 8vh;
    font-size: 3vw;
    bottom: 4vw;
    left: 10vw;
    border-radius: 10px;
}

.hud-button-enter:hover {

}

.button-wrapper {
    width: 100%;
}

/* Generic button style */
.hud-button {
    cursor: pointer;
    transition: all 0.4s;
    outline: none;
    border-color: darkred;
    background-color: #d95763;
    border-left: 10px inset red;
    border-bottom: 10px solid;
}

.hud-button:disabled {
    cursor: not-allowed;
    border-color: #2f2f2f;
    background-color: #4d4d4d;
    border-left: 10px inset #1f1f1f;
    color: white;
}

.spotify-button {
    background-color: #1DB954;
    border-color: #062411;
    border-left: 10px inset #1DB954;
}
