.hud-song-select-outer-container {
    height: 70%;
    width: 60%;
    margin: 18vh auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
