.song-container-small {
    height: 10vw;
    width: 80%;
    transition: all 0.3s;
    margin: 0 auto 0.8vw auto;
    cursor: pointer;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;

    border: transparent solid 2px;
    border-radius: 10px;
}

.song-container-large {
    height: 30%;
    width: 100%;
    display: flex;
    justify-content: center;

    border: black solid 2px;
    border-radius: 10px;
}

.song-container-small:hover {
    border: black solid 2px;
}

/* It's important that all of these elements here can be
 * applied to other versions of the song container
 */
.song-data-container {
    height: 80%;
    margin-left: 1.5vw;
}

.song-image {
    height: 80%;
    width: auto;
    margin-left: 0.8vw;
}

.song-name {
    font-size: 1.8vw;
    white-space: nowrap;
}

.song-artist {
    font-size: 1.2vw;
    white-space: nowrap;
}